:root{
  /* Global Constants */
  --color-surface : rgb(18, 18, 18);
  --color-surface-secondary: rgba(255,255,255, 0.1);
  --color-accent : #66bb6a;
  --color-on-surface: #ffffff;
  --color-link: #1976d2;
  --color-link-visited: #b39ddb
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  display: grid;
  gap: 1em;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  min-height: 97vh;
}

body{
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

a{
  color: var(--color-link);
}

a:visited{
  color: var(--color-link-visited);
}

section{
  background-color: var(--color-surface-secondary);

  border-left-color: var(--color-accent);
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 5px;

  padding: 5px;

  overflow-wrap: break-word;

}

header{
  text-align: center;

  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

#main_section1{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#main_section2{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

footer{
  grid-column: 1 / -1;
  grid-row: -2 / -1;

  display: flex;
}

footer > section{
  flex : 1;
  max-width: 33%;
}

#footer_section1{
  margin-right: 1em;
}

#footer_section3{
  margin-left: 1em;
}

@media (orientation: portrait){
  .container{
    width: 90%;

    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: 1fr;
  }

  #main_section1{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  #main_section2{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  footer{
    grid-row: 4 / 5;

    flex-wrap: wrap;
    flex-direction: column;
  }

  footer > section{
    flex : 1;
    margin-top: 1em;
    margin-right: 1em !important;
    min-width: 96%;
  }

  #footer_section1{
    margin-right: 0em;
  }

  #footer_section3{
    margin-left: 0em;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .container{
    width: 95%;

    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: 1fr;
  }

  #main_section1{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  #main_section2{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  footer{
    grid-row: 4 / 5;

    flex-wrap: wrap;
  }

  footer > section{
    flex : 1;
    margin-top: 1em;
    margin-right: 1em !important;
  }

  #footer_section1{
    margin-right: 0em;
  }

  #footer_section3{
    margin-left: 0em;
  }
}
